<div class="container">
  <div class="row">
  	<%= render "leftmenu" %>
		<div class="span9">
        
			<%= form_tag(messages_compose_submit_path, :method => :post) do |f| %>
				<legend>Compose</legend>
				<div class="alert alert-info">
		    	<strong>From: </strong>
		        <%= @user.name %>
				</div>
				<p>
					<div class="input-prepend">
			      <span class="add-on"><i class="icon-user"></i></span> <input class="input-xxlarge"  type="text" placeholder="To" id="to_user" name="to_user" data-provide="typeahead" data-source="<%= @users.to_json %>">
					</div>
				</p>
				<p>
					<div class="input-prepend">
			      <span class="add-on">
			      	<i class="icon-envelope"></i>
			      </span>

			      <%= text_field_tag("title" , @msg_title,:placeholder => "Title", :class => "input-xxlarge")%>

		    	</div>
				</p>
				<p>
					<div class="input-prepend">
			      <span class="add-on">
			      	<i class="icon-pencil"></i>
			      </span>
			      <%= text_area_tag("body", @msg_body ,:placeholder => "Body", :class => "input-xxlarge", :rows => 5)%>   
		    	</div>
				</p>
				<div align="center">
					<div class="input-large" >
						<%= submit_tag "Send", :class=>"btn btn-large btn-block btn-primary" %>
					</div>
				</div>
			<%end%>        
		</div><!--/span-->
	</div><!--/row-->
</div><!--/.fluid-container-->