<style type="text/css">
 .input-xxlarge {

 }
</style>
<div class="container">
  <div class="row">
  	<%= render "leftmenu" %>
		<div class="span9">
        
				<legend>Show Message</legend>
				<%= link_to "<< Back", {:action => @source} %>
				<p>
					<div class="input-prepend">
			      <span class="add-on"><i class="icon-user"></i></span><input class="input-xxlarge"  type="text" value='<%= User.find(@receipt.message.sender_id).name %>' readonly>
					</div>
				</p>
				<p>
					<div class="input-prepend">
			      <span class="add-on">
			      	<i class="icon-envelope"></i>
			      </span>

			      <input class="input-xxlarge"  type="text" value='<%=@receipt.message.subject%>' readonly>
		    	</div>
				</p>
				<p>
					<div class="input-prepend">
			      <span class="add-on">
			      	<i class="icon-pencil"></i>
			      </span>
			      <textarea class="input-xxlarge" id="body" name="body" rows="10" readonly><%=@receipt.message.body %></textarea> 
		    	</div>
				</p>
		</div><!--/span-->
	</div><!--/row-->
</div><!--/.fluid-container-->