<STYLE TYPE="text/css">
<!--
input {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 5px 10px;
}

input[type=button] {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    
    border: 1px solid #ccc;
    font-size: 14pt;
    padding: 5px 10px;
}
-->
</STYLE>

<div class="container">
  <div class="row">
    <%= render "left_menu" %>

    <div class="span9">
      <div align="center">
        <h1>You can upload .csv file for add new users!</h1>
        <p><img src="/assets/csvicon.png"></p>
        <!-- <p class="lead">select your file :)</p> -->
        <br>
        <%= form_tag({:controller => "admin", :action=>'create_user'},:multipart=>true) do %>

        <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
          <%= file_field_tag 'new_user', :class => "" %>
          <br><br>
          <%= button_tag "Upload User (CSV format)", :class => "btn btn-large btn-success btn-block"%>
        </div><!-- class="well" -->
      </div><!-- class="center"  -->
    </div><!-- class="span9"  -->
  </div><!-- class="row"  -->
<%end %>
<hr>
  <div class="span12">
    <div style="clear: both;">
      <div class="row">
        <ul class="nav nav-pills">
          <li <% if @action == "all"%> class="active" <%end%> ><%= link_to "All",  {:controller => "admin", :action => "new_user", :action_link => "all" } %></li>
          <li <% if @action == "student"%> class="active" <%end%>> <%= link_to "Student",  {:controller => "admin", :action => "new_user", :action_link => "student" } %></li>
          <li <% if @action == "teacher"%> class="active" <%end%>> <%= link_to "Teacher",  {:controller => "admin", :action => "new_user", :action_link => "teacher" } %> </li>
          <li <% if @action == "staff"%> class="active" <%end%>> <%= link_to "Staff",  {:controller => "admin", :action => "new_user", :action_link => "staff" } %> </li>
        </ul>
      </div> <!-- class="row" -->

      <div class="row">
        <table class="table table-hover"  style="background-color:#FFF; color: #333; width:100%;">
          <thead>
            <td>&nbsp</td>
            <td><h3>Login</h3></td>
            <td><h3>Firstname</h3></td>
            <td><h3>Lastname</h3></td>
            <td><h3>E-mail</h3></td>
            <td><h3>User type</h3></td>
            
          </thead>
          <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>&nbsp</td>
            <td> <%= user.login %></td>
            <td> <%= user.firstname %></td>
            <td> <%= user.lastname %></td>
            <td> <%= user.email %></td>
            <td> <%= user.user_type.name unless user.user_type.nil?%>
            
          </tr>
        <%end%>
          </tbody>
        </table>
      </div><!-- class="row" -->
    <div> <!-- clear: both; -->
  </div> <!-- span 12 -->
</div> <!-- /container -->