<div class="container">
  <div class="span12">
  <%= form_tag({:controller => "admin", :action=>'create_user'},:multipart=>true) do %>
    <div style="text-align:center">
      <div style="display:inline-block">
        <%= file_field_tag 'new_user' %>
        <%= button_tag "Upload Student (CSV format)", :class => "btn btn-primary"%>
      </div>
    </div>
  <%end %>
  <div style="clear: both;">
  <div class="row">
<ul class="nav nav-pills">
  <li <% if @action == "all"%> class="active" <%end%> ><%= link_to "All",  {:controller => "admin", :action => "new_user", :action_link => "all" } %></li>
  <li <% if @action == "student"%> class="active" <%end%>> <%= link_to "Student",  {:controller => "admin", :action => "new_user", :action_link => "student" } %></li>
  <li <% if @action == "teacher"%> class="active" <%end%>> <%= link_to "Teacher",  {:controller => "admin", :action => "new_user", :action_link => "teacher" } %> </li>
  <li <% if @action == "staff"%> class="active" <%end%>> <%= link_to "Staff",  {:controller => "admin", :action => "new_user", :action_link => "staff" } %> </li>
</ul>

    <table class="table table-striped table-bordered">
      <thead>
        <td>Login</td>
        <td>Firstname</td>
        <td>User type</td>
      </thead>
      <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= user.login %></td>
        <td> <%= user.firstname %></td>
        <td> <%= user.user_type.name unless user.user_type.nil?%></td>
      </tr>
    <%end%>
      </tbody>
    </table>
  </div>
</div> <!-- span 12 -->
</div> <!-- /container -->