
<div class="row">
	<div class="span1">
		<!-- <img src="images/profile/palaloi.jpg" class="img-rounded" height="80" width="80"> -->
		<%= image_tag(@user.photo.url(:small), :class => "img-rounded") %>
	</div>

	<div class="span6">
		<span style="font-size:18px"> <%=@user.name%>	| <%=@user.firstname%> <%=@user.lastname%>&nbsp;</span>

		<% if @current_user.id == @user.id || @isAdmin %>
				<%= link_to 'Edit Profile', edit_user_path, {"data-icon" => "button", "data-theme" => "a", :class => "btn btn-info btn-small"} %>
		<%end%>
		
		<% if @current_user.id != @user.id || @isAdmin %>
		<button type="button" id="fat-btn" class="btn btn-success btn-small"> Send PM</button>
		<%end%>

<br><br>
		<i class="icon-map-marker"></i>
		<span style="font-size:13px; font-style:oblique;"> <%= @user.location %> </span> &nbsp;
		<i class=" icon-globe"></i>
		<span style="font-size:13px; font-style:oblique;"> <%= @user.web_site %> </span> &nbsp;
		<i class="icon-envelope"></i>
		<span style="font-size:13px; font-style:oblique;"> <%= @user.login %></span>
	<br>

	</div>
<div class="span2"></div><!-- blank -->
<div class="span2">
	<img src="/assets/bgChange/clickchangebg.png"></div>

<div class="span1">
	<a href="#" class="setbg" rel="/assets/bg.jpg"><img class="img-circle" src="/assets/bgChange/bgcircle1.png"></a><a href="#" class="setbg" rel="/assets/bgChange/textures_03.png"><img class="img-circle" src="/assets/bgChange/bgcircle2.png"></a><a href="#" class="setbg" rel="/assets/bgChange/textures_08.png"><img class="img-circle" src="/assets/bgChange/bgcircle3.png"></a><a href="#" class="setbg" rel="/assets/bgChange/textures_11.png"><img class="img-circle" src="/assets/bgChange/bgcircle4.png"></a>	
</div>
<!-- end change backgroud -->
</div> <!-- End of row -->   
<hr>
	
<!-- พลอยเพิ่มเติม 6/3/2556 -->

		<!-- 
		<i class=" icon-user"></i> 
		<span style="font-size:13px;"> Student</span>&nbsp;&nbsp;

		<i class="icon-info-sign"></i>
		<span style="font-size:13px;"> 4714110061</span>&nbsp;&nbsp;
		<i class="icon-thumbs-up"></i>
		<span style="font-size:13px;"> IT #3</span><br>
		

<button type="button" id="fat-btn" class="btn btn-small "><i class="icon-edit"></i> Profile</button> 
<button type="button" id="fat-btn" class="btn btn-small "><i class="icon-picture"></i> Portfolio</button> 
<button type="button" id="fat-btn" class="btn btn-small "><i class="icon-comment"></i> PM</button>
-->