<div class="container">
<%= form_for(@user, :html => {:class => "form-signin"}) do |f| %>
  <% if @user.errors.any? %>
  <div  id="errorExplanation">
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <form class="form-signin">
    <h2 class="form-signin-heading">Account | Bio</h2>
    <span style="font-size:14px; font-style:oblique;">Change your bio.</span><hr>    
    <p>
    <ul class="nav nav-pills">
      <li><%= link_to 'Profile', edit_account_path %></li>
      <li><%= link_to 'Password', edit_password_path %></li>
      <li class="active"><%= link_to 'Bio', edit_about_path %></li>
      <li><%= link_to 'Skill', edit_skill_path %></li>
    </ul>   
    </p>      
    <hr>
    
    
    <%= f.text_area :about_you,:id=>"about_you", :placeholder => "New password", :class => "input-block-level", :rows => 5%>
    <%= hidden_field_tag :target, "edit_about" %>
        <hr>
    <%= f.submit "Update Settings", :class=>"btn btn-large btn-block btn-primary" %>
<hr>   


<%end%>
<hr> 
  <footer><p>&copy; IST, MUT</p></footer>
</div>