
     

<!--
<p style="padding-top:8px; padding-left:8px;"><img src="images/profile/palaloi.jpg" class="img-rounded" height="80" width="80">
&nbsp; <span style="font-size:28">Palaloi</span>
</p>
-->


<div class="container">
<%= form_for(@user, :html => {:class => "form-signin",  :multipart => true}) do |f| %>
  <% if @user.errors.any? %>
  <div  id="errorExplanation">
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <form class="form-signin">
    <h2 class="form-signin-heading">Account | Profile</h2>
    <span style="font-size:14px; font-style:oblique;"> Edit your name, avatar, etc.</span>    
    <hr>
    <p>
      <ul class="nav nav-pills">
        <li class="active"><%= link_to 'Profile', edit_account_path %></li>
        <li><%= link_to 'Password', edit_password_path %></li>
        <li><%= link_to 'Bio', edit_about_path %></li>
        <li><%= link_to 'Skill', edit_skill_path %></li>
      </ul>
    </p>
    <hr>
    
    
    <%= f.text_field :login,:id=>"inputUsername", :placeholder => "Username", :class => "input-block-level", :disabled => true%>
    <%= f.text_field :name,:id=>"inputName", :placeholder => "Name", :class => "input-block-level"%>
<!-- ploi add -->
<%= f.text_field :name,:id=>"inputFirstName", :placeholder => "FirstName", :class => "input-block-level"%>
<%= f.text_field :name,:id=>"inputLastName", :placeholder => "LastName", :class => "input-block-level"%>
<!-- -->
    <%= f.text_field :email,:id=>"inputEmail", :placeholder => "Email", :class => "input-block-level"%>
    <%= f.text_field :location,:id=>"inputLocation", :placeholder => "Location", :class => "input-block-level"%>
    <%= f.text_field :web_site, :id=>"inputWebsite", :placeholder => "Your Website", :class => "input-block-level"%>      
    <%= image_tag @user.photo.url(:small) %>
    <%= f.file_field :photo %>

        <hr>
    <%= f.submit "Update Settings", :class=>"btn btn-large btn-block btn-primary" %>
<hr>   


<%end%>
<hr> 
  <footer><p>&copy; IST, MUT</p></footer>
</div>