<style type="text/css">
.list-widget i {
	margin-left: 15px;
}
.icontent {
	margin-left: 10px;
	display: inline;
}
.list-widget {
  /*width: 380px;
  border: 1px solid #ddd;
  border-top: 1px solid #eee;
  background: #fff;  
  border-radius: 3px;*/
  /*padding: 15px;*/
  padding-left: 15px;
  position: relative;
 }
  .list-widget .list-head {
    margin-left: 60px; }
    .list-widget .list-head .list-follow {
      position: absolute;
      top: 20px;
      right: 15px;
      margin: 0; }
  .list-widget .avatar {
    margin-top: 2px;
    border-radius: 40px; }
  .list-widget h3 {
    font-weight: normal;
    color: #dd390d;
    font-size: 20px;
    line-height: 1.3;
    margin: 0; }
    .list-widget h3 a {
      font-weight: normal;
      color: #DD390D; }
    .list-widget h3 small {
      display: block;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 13px;
      color: #555; }
  .list-widget .list-meta {
    color: #777;
    margin-top: 0px;
    font-size: 13px; }
    .list-widget .list-meta a {
      font-weight: normal;
      color: #111; }
  .list-widget ul {
    list-style: none;
    margin: 15px -15px 0;
    padding: 0px 10px;
    position: relative; }
    .list-widget ul:before {
      -webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
      -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
      -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
      height: 5px;
      width: 100%;
      position: relative;
      content: '';
      top: -2px;
      left: 0;
      display: block;
      border-top: 1px solid rgba(0, 0, 0, 0.15); }
    .list-widget ul li {
      margin: 10px 10px;
      font-size: 14px;
      height: 20px;
      overflow: hidden; }
      .list-widget ul li a {
        color: #111;
        font-weight: normal; }
      .list-widget ul li .fav {
        float: left;
        vertical-align: text-top;
        background-position: 0 4px;
        height: 20px; }
      .list-widget ul li > div {
        margin-left: 30px; }
      .list-widget ul li span {
        display: block;
        color: #777;
        font-size: 13px; }
      .list-widget ul li .list-view {
        margin: 10px 0 0 30px;
        padding-top: 10px;
        color: #dd390d; }



.thumbnail {
  background-color: white;
  display: block;
  padding: 6px;
  line-height: 15px;
  border: 1px solid #DDD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.user-link {
  padding-top:8px; 
  padding-left:8px;
  padding-bottom: 20px;
}
.image-center {
  /*width: 300px;
  height: 200px;*/
}

</style>

<!-- script jq change image background -->

<script type="text/javascript">  
$(function(){  
    $(document.body).css("background","url(<?=$_COOKIE['bgSet']?>)");   
    $(".setbg").click(function(){  
        var days=10; // กำหนดจำนวนวันที่ต้องการให้จำค่า  
        var date = new Date();  
        date.setTime(date.getTime()+(days*24*60*60*1000));  
        var expires = "; expires="+date.toGMTString();  
        document.cookie = "bgSet=" +$(this).attr("rel")+ "; expires=" + expires + "; path=/";         
        $(document.body).css("background","url("+$(this).attr("rel")+")");    
    });   
});  
</script> 

<div class="container">    
  <%= render "user_profile" %>
  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">

            <ul class="nav nav-list">
              <li class="nav-header">
                <i class="icon-info-sign"></i> About : <%=h @user.name %></li>
                <li><%=h @user.about_you %></li>
            </ul>    
      </div>

      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header"><i class="icon-heart"></i> Skill</li>
            <div align="right">
              <% @skills.each do |skill| %>
              <li class="nav-header"><%=skill.name%> </li>
                <% if skill.name == "Programming" %>
                  <div class="progress progress-info progress-striped">
                <%elsif skill.name == "System Analysis" %>
                  <div class="progress progress-success progress-striped">
                <%elsif skill.name == "Digital Art" %>
                  <div class="progress progress-danger progress-striped">
                <%elsif skill.name == "Protography" %>
                  <div class="progress progress-warning progress-striped">
                <%elsif skill.name == "Film And Animation" %>
                  <div class="progress progress-info progress-striped">
                <%elsif skill.name == "Networking" %>
                   <div class="progress progress-success progress-striped">
                <%end%>
                  
                  <div class="bar" style="width: <%=h @user.skill_users.where("skill_id = ?", skill.id).first.skill_value.to_s if (@user.skills.any? and !@user.skill_users.where("skill_id = ?", skill.id).first.nil?) %>%">
                  </div>
                </div>
              <%end%>
            </p>
  <!--             <li class="nav-header">Programming</li>
              <div class="progress progress-info"><div class="bar" style="width: 100%"></div></div>
              <li class="nav-header">Database</li>
              <div class="progress progress-success"><div class="bar" style="width: 40%"></div></div>
              <li class="nav-header">Networking</li>
              <div class="progress progress-warning"><div class="bar" style="width: 60%"></div></div>
              <li class="nav-header">Graphic Designing</li>
              <div class="progress progress-danger"><div class="bar" style="width: 80%"></div></div> -->
            </div>
          </li>
        </ul>     
      </div>
    </div>
    <div class="span9">
      <ul class="thumbnails">
        <% @user.portfolios.each do |port| %>
          <li class="span3">
          <div class="thumbnail">
            <%= link_to(image_tag(port.photo.url(:small), :class => "image-center"), 
                portfolio_show_path(:user_id => port.user_id, :portfolio_id => port.id))%>
            <div align="right" style="padding-top:12px">

              <!-- AddThis Button BEGIN -->
              <a class="addthis_button_facebook_like" fb:like:layout="button_count" ></a>
              <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-513a1b2442f06d8c"></script>
              <!-- AddThis Button END -->
            </div> <!-- right -->
          </div> <!-- thumbnail -->   
        </li>
        <%end%>
        <!-- One Thumbnail label -->
        <li class="span3">
          <div class="thumbnail">
            <a href="#">
              <img data-src="holder.js/300x200" src="/assets/index_hero_penultimate.png">
            </a>
            <div align="right" style="padding-top:12px">

              <!-- AddThis Button BEGIN -->
              <a class="addthis_button_facebook_like" fb:like:layout="button_count" ></a>
              <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-513a1b2442f06d8c"></script>
              <!-- AddThis Button END -->
            </div> <!-- right -->
          </div> <!-- thumbnail -->   
        </li>
            
        <!-- End One Thumbnail label -->    

        <!-- One Thumbnail label -->


    </div>
  </div>


Test for commit from Mac.
<p>
<b>Name:</b>
<%=h @user.name %>
</p>
<p>
<b>Email:</b>
<%=h @user.email %>
</p>
<p>
<b>Web site:</b>
<%=h @user.web_site %>
</p>
<b>Location:</b>
<%=h @user.location %>
</p>
<p>
<b>Image</b>
<%= image_tag @user.photo.url(:small) %>
</p>
<b>About me:</b>
<%=h @user.about_you %>
</p>
<p>
<p>
<b>Skills</b>
<% @skills.each do |skill| %>
  <%=skill.name%> 
    =>
    <%=h @user.skill_users.where("skill_id = ?", skill.id).first.skill_value.to_s if (@user.skills.any? and !@user.skill_users.where("skill_id = ?", skill.id).first.nil?) %>
    <br/>
  <%end%>
</p>
<b>Login count:</b>
<%=h @user.login_count %>
</p>

<p>
<b>Last request at:</b>
<%=h @user.last_request_at %>
</p>

<p>
<b>Last login at:</b>
<%=h @user.last_login_at %>
</p>

<p>
<b>Current login at:</b>
<%=h @user.current_login_at %>
</p>

<p>
<b>Last login ip:</b>
<%=h @user.last_login_ip %>
</p>

<p>
<b>Current login ip:</b>
<%=h @user.current_login_ip %>
</p>

<%= link_to 'Edit Account', edit_account_path %>
<br/>
<%= link_to 'Message', message_index_path(@user) %>
<br/>
<%= link_to 'Create Portfolio', portfolio_upload_path %>
