<p>
<b>Name:</b>
<%=h @user.name %>
</p>
<p>
<b>Email:</b>
<%=h @user.email %>
</p>
<p>
<b>Web site:</b>
<%=h @user.web_site %>
</p>
<b>Location:</b>
<%=h @user.location %>
</p>
<p>
<b>Image</b>
<%= image_tag @user.photo.url(:small) %>
</p>
<b>About me:</b>
<%=h @user.about_you %>
</p>
<p>
<p>
<b>Skills</b>
<% 
  @skills.each do |skill|
  %>
    <%=skill.name%> 
    =>
    <%=h @user.skill_users.where("skill_id = ?", skill.id).first.skill_value.to_s if (@user.skills.any? and !@user.skill_users.where("skill_id = ?", skill.id).first.nil?) %>
    <br/>
  <%end%>
</p>
<b>Login count:</b>
<%=h @user.login_count %>
</p>

<p>
<b>Last request at:</b>
<%=h @user.last_request_at %>
</p>

<p>
<b>Last login at:</b>
<%=h @user.last_login_at %>
</p>

<p>
<b>Current login at:</b>
<%=h @user.current_login_at %>
</p>

<p>
<b>Last login ip:</b>
<%=h @user.last_login_ip %>
</p>

<p>
<b>Current login ip:</b>
<%=h @user.current_login_ip %>
</p>

<%= link_to 'Edit Account', edit_account_path %>
<br/>
<%= link_to 'Message', messages_index_path %>

