<style type="text/css">
.list-widget i {
	margin-left: 15px;
}
.icontent {
	margin-left: 10px;
	display: inline;
}
.list-widget {
  /*width: 380px;
  border: 1px solid #ddd;
  border-top: 1px solid #eee;
  background: #fff;  
  border-radius: 3px;*/
  /*padding: 15px;*/
  padding-left: 15px;
  position: relative;
 }
  .list-widget .list-head {
    margin-left: 60px; }
    .list-widget .list-head .list-follow {
      position: absolute;
      top: 20px;
      right: 15px;
      margin: 0; }
  .list-widget .avatar {
    margin-top: 2px;
    border-radius: 40px; }
  .list-widget h3 {
    font-weight: normal;
    color: #dd390d;
    font-size: 20px;
    line-height: 1.3;
    margin: 0; }
    .list-widget h3 a {
      font-weight: normal;
      color: #DD390D; }
    .list-widget h3 small {
      display: block;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 13px;
      color: #555; }
  .list-widget .list-meta {
    color: #777;
    margin-top: 0px;
    font-size: 13px; }
    .list-widget .list-meta a {
      font-weight: normal;
      color: #111; }
  .list-widget ul {
    list-style: none;
    margin: 15px -15px 0;
    padding: 0px 10px;
    position: relative; }
    .list-widget ul:before {
      -webkit-box-shadow: inset 0 16px 8px -20px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0 15px 8px -20px rgba(0, 0, 0, 0.4);
      -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
      -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), black 20%, black 80%, rgba(0, 0, 0, 0) 100%);
      height: 5px;
      width: 100%;
      position: relative;
      content: '';
      top: -2px;
      left: 0;
      display: block;
      border-top: 1px solid rgba(0, 0, 0, 0.15); }
    .list-widget ul li {
      margin: 10px 10px;
      font-size: 14px;
      height: 20px;
      overflow: hidden; }
      .list-widget ul li a {
        color: #111;
        font-weight: normal; }
      .list-widget ul li .fav {
        float: left;
        vertical-align: text-top;
        background-position: 0 4px;
        height: 20px; }
      .list-widget ul li > div {
        margin-left: 30px; }
      .list-widget ul li span {
        display: block;
        color: #777;
        font-size: 13px; }
      .list-widget ul li .list-view {
        margin: 10px 0 0 30px;
        padding-top: 10px;
        color: #dd390d; }
</style>

 


Test for commit from Mac.
<p>
<b>Name:</b>
<%=h @user.name %>
</p>
<p>
<b>Email:</b>
<%=h @user.email %>
</p>
<p>
<b>Web site:</b>
<%=h @user.web_site %>
</p>
<b>Location:</b>
<%=h @user.location %>
</p>
<p>
<b>Image</b>
<%= image_tag @user.photo.url(:small) %>
</p>
<b>About me:</b>
<%=h @user.about_you %>
</p>
<p>
<p>
<b>Skills</b>
<% 
  @skills.each do |skill|
  %>
    <%=skill.name%> 
    =>
    <%=h @user.skill_users.where("skill_id = ?", skill.id).first.skill_value.to_s if (@user.skills.any? and !@user.skill_users.where("skill_id = ?", skill.id).first.nil?) %>
    <br/>
  <%end%>
</p>
<b>Login count:</b>
<%=h @user.login_count %>
</p>

<p>
<b>Last request at:</b>
<%=h @user.last_request_at %>
</p>

<p>
<b>Last login at:</b>
<%=h @user.last_login_at %>
</p>

<p>
<b>Current login at:</b>
<%=h @user.current_login_at %>
</p>

<p>
<b>Last login ip:</b>
<%=h @user.last_login_ip %>
</p>

<p>
<b>Current login ip:</b>
<%=h @user.current_login_ip %>
</p>

<%= link_to 'Edit Account', edit_account_path %>
<br/>
<%= link_to 'Message', messages_index_path %>
<br/>
<%= link_to 'Create Portfolio', portfolio_upload_path %>


