<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <%= link_to image_tag("logo.png", :border=>0), "#", :class => "brand"%>

<!-- Profile Picture 40*40 pixel | Menu Head -->          
        <div class="nav-collapse collapse">          
          <ul class="nav pull-right">
            <li class="dropdown">
                            
<!-- 
แก้ยังไงค้าบ ทำไม่เป็นค้าบ พูดเลยยยย 
<a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
-->

                <%= link_to image_tag("profile/palaloi.jpg", :border=>0, :width => 40, :height => 40, :class => "img-rounded"), "#", :class=>"dropdown-toggle" %>

<!-- นี่ด้วยอ่ะค้าบบบ 
&nbsp;<b class="caret"></b>
</a> 
-->
                
              <ul class="dropdown-menu">
                <li class="nav-header">Profile's : พะละลอยด์</li>
                <li class="divider"></li>
                <li><a href="portfolioPersonal.html">My Portfolio</a></li>
                <li><a href="profileEdit.html">Edit Profile</a></li>
              </ul><!-- ul class="dropdown-menu" -->   
            </li><!-- li class="dropdown" -->   
          </ul><!-- ul class="nav pull-right" --> 

<!-- แก้ตรงนี้ไว้ , รวบ ul ไป , ลบ div ออก-->
          <ul class="nav pull-right" style="margin: 11px 0px 0px;">

<!-- LOGIN            
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Login </a></li>
--> 

<!-- Portfolios -->                      
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolios <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">ผลงานนักศึกษา</li>
                  <li class="divider"></li>
                  <li><a href="portfolio.html">Popular</a></li>
                  <li><a href="#">Recent</a></li>
                  <li><a href="#">Everyone</a></li>
                  <li><a href="#">My Friends</a></li>
                  <li><a href="#">Hot Tags</a></li>
                  <li><a href="#"></a></li>
                </ul><!-- ul class="dropdown-menu" -->   
            </li><!-- li class="dropdown" -->  

<!-- News -->     
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-header">ข่าว/ประกาศ</li>
                <li class="divider"></li>
                <li><a href="news.html">ข่าวล่าสุด</a></li>
                <li><a href="newsActivities.html">ข่าวกิจกรรม</a></li>
                <li><a href="#">ข่าวภายใน</a></li>
                <li><a href="#">ข่าวภายนอก</a></li>
                <li><a href="newsContest.html">ข่าวงานประกวด</a></li>
                <li><a href="#">ข่าวรับสมัครงาน</a></li>
                <li><a href="#"></a></li>
              </ul>
            </li>

<!-- Registration -->                          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registration <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="nav-header">นาถพร ประวันนา</li>
                <li class="divider"></li>
                <li><a href="regisStdmars.html">View Profile</a></li>
                <li><a href="regisTranscript.html">View Transcript</a></li>
                <li><a href="regisTimetable.html">View Timetable</a></li>
              </ul><!-- ul class="dropdown-menu" -->
            </li><!-- li class="dropdown" -->

          </ul><!-- ul class="nav pull-right" -->


        </div><!-- div class="nav-collapse collapse" -->

<!-- LOGIN -->

            
          

<!-- Seaechhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh -->
          <ul class="nav pull-right" style="margin: 10px 0px 0px;">
            <li>
              <form class="navbar-search">
                <input type="text" class="search-query" placeholder="Search">
              </form>
            <li class="divider-vertical"></li>
            </li>
          </ul>

      </div> <!-- End of container head menu -->
    </div><!-- navbar-inner --> 
  </div><!-- navbar navbar-inverse navbar-fixed-top -->
    
<!-- END Menu Head -->

<div id="ajax-error-msg" style="display: none" class="row-fluid"></div>
  <% if(flash[:notice]) %>
    <!--script type="text/javascript">
      flashMessage.show('<%= flash[:notice] %>', "alert rails-flash alert-success");
    </script-->
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if(flash[:error_notice]) %>
    <!--script type="text/javascript">
      flashMessage.show('<%= flash[:error_notice] %>', "alert rails-flash alert-error");
    </script-->
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[:error_notice] %>
    </div>
  <% end %>
</div> <!--End of flash -->
<div class="row-fluid">
<%= yield %>
</div><!-- End of row -->
</div><!-- End of container -->

</body>
</html>
