<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<style type="text/css">
.alert {
  text-align: center;
}
.search-query {
  width: 150px;
  margin-right: 20px;
}
</style>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- ยืดหดได้ -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to image_tag("logo.png", :border=>0), portfolio_feed_path , :class => "brand"%>  

        <div class="nav-collapse collapse">
          <ul class="nav pull-right">

<!-- Seaechhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh -->
            <li style="margin: 10px 0px 0px;">
              <!-- <form class="navbar-search"> -->
              <%= form_tag(portfolio_search_path, :class => "navbar-search") do %>
                <!-- <input type="text" class="search-query" placeholder="Search Portfolio" style="width: 120px;">&nbsp&nbsp&nbsp -->
                <%= text_field_tag("search_query" , nil ,:placeholder => "Search Portfolio", :class => "search-query")%>
              <!-- </form> -->
              <% end %>
            </li>

<!-- <li class="divider-vertical"></li> --> 
<li class="divider-vertical" style="margin: 10px 0px 0px;"></li>


<!-- Portfolios -->                      
    <!-- <li class="dropdown" style="margin: 10px 0px 0px;">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolios <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="nav-header">ผลงานต่างๆ</li>
          <li class="divider"></li>
          <li><a href="#">Recent</a></li>
          <li><%= link_to "Recent", portfolio_feed_path(:action => "recent") %></li>
          <li><a href="#">Everyone</a></li>
          <li><a href="#">Group</a></li>
          <li><a href="#">Tags</a></li>
        </ul>
    </li> -->
    <li style="margin: 10px 0px 0px;"><%= link_to 'Portfolio', portfolio_feed_path%></li>

<li class="divider-vertical" style="margin: 10px 0px 0px;"></li>

<!-- Message -->

    <li style="margin: 10px 0px 0px;"><%= link_to 'Message', message_index_path(@user) if @user and @user.id %></li>

<li class="divider-vertical" style="margin: 10px 0px 0px;"></li>

<!-- News -->     
    <li class="dropdown" style="margin: 10px 0px 0px;">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="nav-header">ข่าว/ประกาศ</li>
        <li class="divider"></li>
        <li> <%= link_to "ข่าวกิจกรรม", news_activity_path %></a></li>
        <li> <%=link_to "ข่าวงานประกวด", news_contest_path %> </a></li>
        <li> <%=link_to "ข่าวรับสมัครงาน", news_job_path %> </a></li> 
      </ul>
    </li>

<!-- How to use -->            
            <li style="margin: 10px 0px 0px;"><%= link_to "Help" , portfolio_how_to_path %></li>
<li class="divider-vertical" style="margin: 10px 0px 0px;"></li>


<!-- Registration -->                          
    <!-- <li class="dropdown" style="margin: 10px 0px 0px;">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registration <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="nav-header">นาถพร ประวันนา</li>
        <li class="divider"></li>
        <li><a href="regisStdmars.html">View Profile</a></li>
        <li><a href="regisTranscript.html">View Transcript</a></li>
        <li><a href="regisTimetable.html">View Timetable</a></li>
      </ul>
    </li> -->
    <% if @user and @user.id %>
    <li class="dropdown">
      
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= image_tag(@user.photo(:thumb), :border=>0, :width => 40, :height => 40, :class => "img-rounded")%> <b class="caret" style="vertical-align: baseline;"></b></a>
            <ul class="dropdown-menu">
              <li class="nav-header">Profile's : พะละลอยด์</li>
              <li class="divider"></li>
              <li> <%= link_to("Edit Profile", edit_user_path) %> </li>
              <li> <%= link_to("Administrator", admin_index_path) if @user.user_type and @user.user_type == UserType.find_by_name("Admin") %> </li>
              <li class="divider"></li>
              <li> <%= link_to("My Portfolio", show_user_path(@user)) %> </li>
              <li> <%= link_to("Upload Portfolio", portfolio_upload_path) %> </li>
              <li class="divider"></li>
              <li> <%= link_to "Log out", logout_path %> </li>
            </ul><!-- ul class="dropdown-menu" -->         
      </li><!-- li class="dropdown" -->   
      <% else %>
        <li style="margin: 10px 0px 0px;"><%= link_to 'Log in', login_path%></li>
      <%end%>
     </ul>
  </div>
      </div> <!-- End of container head menu -->
    </div><!-- navbar-inner --> 
  </div><!-- navbar navbar-inverse navbar-fixed-top -->
  <div class="container-fluid">
      <section>
        <div class="row-fluid">
          <% if(flash[:notice]) %>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= flash[:notice] %>
            </div>
          <% end %>
          <% if(flash[:error_notice]) %>
            <!--script type="text/javascript">
              flashMessage.show('<%= flash[:error_notice] %>', "alert rails-flash alert-error");
            </script-->
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <%= flash[:error_notice] %>
            </div>
          <% end %>
        </div>
      </section>
    </div>
<%= yield %>
</div><!-- End of container -->
</body>
</html>
