
<div class="row">
	<div class="span1">
		<!-- <img src="images/profile/palaloi.jpg" class="img-rounded" height="80" width="80"> -->
		<%= image_tag(@user.photo.url(:small), :class => "img-rounded") %>
	</div>

	<div class="span6">
		<span style="font-size:18px"> <%=@user.name%>	| <%=@user.firstname%> <%=@user.lastname%></span>
		<% if @current_user.id == @user.id %>
			<%= link_to 'Edit Profile', edit_user_path, {"data-icon" => "button", "data-theme" => "a", :class => "btn btn-small btn-primary"} %>
			<%if request_from == "portfolio#show" %>
				<%= link_to 'Edit Portfolio', portfolio_upload_detail_path({:portfolio_id => @portfolio.id}), {"data-icon" => "button", "data-theme" => "a", :class => "btn btn-small btn-primary"} %>
			<%end%>
		<%end%>
		<button type="button" id="fat-btn" class="btn btn-small btn-primary"> Send PM</button><br>

<!-- พลอยเพิ่มเติม 6/3/2556 -->

		<!-- user group >> student, teacher, staff -->
		<i class=" icon-user"></i> 
		<span style="font-size:13px;"> Student</span>&nbsp;&nbsp;

		<!-- if user group == student >>>> show detail -->
		<i class="icon-info-sign"></i>
		<span style="font-size:13px;"> 4714110061</span>&nbsp;&nbsp;
		<i class="icon-thumbs-up"></i>
		<span style="font-size:13px;"> IT #3</span><br>

<!-- จบ -->

		<i class="icon-map-marker"></i>
		<span style="font-size:13px; font-style:oblique;"> <%= @user.location %> </span> &nbsp;
		<i class=" icon-globe"></i>
		<span style="font-size:13px; font-style:oblique;"> <%= @user.web_site %> </span> &nbsp;
		<i class="icon-envelope"></i>
		<span style="font-size:13px; font-style:oblique;"> <%= @user.login %></span>
	<br>

	</div>
<!--
<div class="span1 offset4" >
	<a href="#" class="setbg" rel="/assets/bgChange/bgy.png"><img src="/assets/bgChange/bgyr.png"></a><a href="#" class="setbg" rel="/assets/bgChange/bgv.png"><img src="/assets/bgChange/bgvr.png"></a><a href="#" class="setbg" rel="/assets/bgChange/bgr.png"><img src="/assets/bgChange/bgrr.png"></a><a href="#" class="setbg" rel="/assets/bgChange/bgb.png"><img src="/assets/bgChange/bgbr.png"></a>	
</div>
-->

<!-- display change backgroud align right -->
<div class="span2"></div><!-- blank -->
<div class="span2">
	<img src="/assets/bgChange/clickchangebg.png"></div>
<div class="span1">
	<a href="#" class="setbg" rel="/assets/bg.jpg"><img class="img-circle" src="/assets/bgChange/bg.png"></a><a href="#" class="setbg" rel="/assets/bgChange/bgy.png"><img class="img-circle" src="/assets/bgChange/bgyr.png"></a><a href="#" class="setbg" rel="/assets/bgChange/bgr.png"><img class="img-circle" src="/assets/bgChange/bgrr.png"></a><a href="#" class="setbg" rel="/assets/bgChange/bgb.png"><img class="img-circle" src="/assets/bgChange/bgbr.png"></a>	
</div>
<!-- end change backgroud -->

</div> <!-- End of row -->   
<hr>
